.filter-button {
    background-color: #D9A53B;
    border: none;
    padding: 10px 16px;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    color: white;
    border-radius: 20px;
    margin-right: 1rem;
}

.filter-row {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}
